.productRoot { border: 1px solid gray; width: 400px; margin: 10px auto; 
    box-shadow: 5px 5px 5px #DDD; padding: 30px; }
.productRoot h1 { margin: 0  0 20px 0; }
.productRoot div > input { padding: 6px; width: 280px; margin: 5px;}
.productRoot div button { margin-left: 5px; padding: 3px 10px; }
.productRoot table { border-collapse: collapse; margin-top: 20px; width: 100%; }
.productRoot td { border: 1px solid gray; padding: 6px; }
.productRoot thead { background-color: #eee; text-align: center; }
.productRoot td:nth-child(1) { text-align: center; width: 30px; }
.productRoot td:nth-child(4) { text-align: center; width: 50px; }
.productRoot span { float: right; font-weight: bold; cursor: pointer; }
.productRoot tr.done { color: #bbb; text-decoration: line-through; }

